body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-image: url('imagen\ camel.jpg'); /* Cambiar 'background.jpg' por la imagen de fondo deseada */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: transparent; /* Fondo semi-transparente para destacar sobre el fondo */
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 40px;
    text-align: center;
    position: relative; /* Añadir posición relativa para que los puntos sean absolutos relativos a este contenedor */
}

h1 {
    color: black;
}

.formulario {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 70px;
}

button {
    background-color: transparent;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    border-radius: 40px;
}

button:hover {
    background-color: transparent;
    border-radius: 40px;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);;
}

video, #foto {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

#confirmarFoto {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 80px);
    z-index: 1000;
    display: none;
    border-radius: 40px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#confirmarFoto:hover {
    background-color: #218838;
}

#verRegistros {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#verRegistros:hover {
    background-color:#ccc;
}

.registro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.registro img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Estilos para los tres puntos en la esquina superior izquierda */
.dropdown {
    position: fixed;
    top: 20px; /* Ajuste para la posición desde arriba */
    left: 20px; /* Ajuste para la posición desde la izquierda */
}

.dropdown .dropbtn {
    background-color: transparent;
    color: white;
    font-size: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    z-index: 2;
    left: 0;
    top: calc(100% + 0cm); /* Ajuste para la posición debajo del botón */
    padding-top: 2px; /* Espacio superior para separación visual */
    border-radius: 40px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: transparent;
    border-radius: 40px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
